#footer {margin:8px 0 0 0;border-top:3px #FFF3AD solid;background:#676767;color:#fff;}
#footer p {text-align:center;}
#footer a {color:#fff;text-decoration:underline;}
#footer a:hover {color:#F0F8FF;text-decoration:none;}
