#Head{ height:78px; text-align:left;width:980px;overfolw:hidden;clear:both;}

#Narutonav{ height:33px;}
#Narutonav ul{ height:33px; float:left;}
#Narutonav li{ width:108px; height:33px; float:left;}
/* #Narutonav span{ width:102px; line-height:33px; text-align:center; float:left;} */
/** A标签文字垂直居中, 用line-height, 不用padding-top */
#Narutonav a, #Narutonav a:visited{width:102px; height:33px; line-height:33px; text-align:center;  float:left; font-size:14px;color:#FFF; background: url("../img/jian/menu_bg.jpg") repeat-x;}
#Narutonav a:hover{ width:102px; height:33px; line-height:33px; text-align:center; float:left; background: url("../img/jian/menu_li_hover.jpg"); text-decoration:none;color:#FFF;}
.Ncontainer{width:980px; margin:0 auto;background:#fff;}

.listMenu { height:32px;line-height:32px;text-align:left;}
.listMenu a:hover{background: #FFF; color: #FF0000;}

#Ntop{ height:32px;width:980px; /* border-bottom:#CAD8D8 1px solid; */ background: url("../img/jian/title_bg.gif") repeat-x; text-align:left;margin-bottom:10px;}
#Ntop a {margin:0 5px;}
/* #Ntop .Nleft{ width:8px; height:28px; background: background: url("./img/jian/topnav_bg.jpg") repeat-x; float:left;} */

#Ntop2{ height:28px;width:960px; border-bottom:#CAD8D8 1px solid;background: url(/img/top_bg.jpg); text-align:left;margin-bottom:10px;}
#Ntop2{ height:28px;width:960px; border-bottom:#CAD8D8 1px solid;background: url(http://www.narutom.com/img/top_bg.jpg); text-align:left;margin-bottom:10px;}
#bdshare .bds_fl5, #bdshare .bds_buzz, #bdshare .bds_zx {display: none}
#bdshare a, #bdshare_s a, #bdshare_pop a {text-decoration: none;cursor: pointer}
#bdshare a:hover, #bdshare_s a:hover, #bdshare_pop a:hover {color: #333;opacity: .8;filter: alpha(opacity = 80)}
#bdshare h6, #bdshare_s h6 {width: 100%;font: 14px/22px '宋体';text-indent: .5em;font-weight: 700;border-top: 1px solid #fbfbfb;border-bottom: 1px solid #f2f1f1;background-color: #f6f6f6;float: left;padding: 5px 0;margin: 0}
#bdshare img {border: 0;margin: 0;padding: 0;cursor: pointer}
#bdshare p a, #bdshare_s p a {width: auto;text-align: right;float: right;padding: 0 5px}
#bdshare p, #bdshare_s p {width: 100%;height: 21px;font: 12px '宋体';border-top: 1px solid #f2f1f1;background-color: #f8f8f8;float: left;padding: 0;margin: 0}
#bdshare ul li a, #bdshare_s ul li a {color: #565656;font: 12px '宋体';display: block;width: 98%;padding: 6px 0;text-indent: 2.4em;*text-indent: 1.8em;_text-indent: 1.8em;border: 1px solid #fff}
#bdshare ul li a:hover, #bdshare_s ul li a:hover {background-color: #f3f3f3;border: 1px solid #eee;-webkit-border-radius: 3px;-moz-border-radius: 3px}
#bdshare ul li, #bdshare_s ul li {width: 47%;_width: 41%;float: left;margin: 4px 2px}
#bdshare ul, #bdshare_s ul {width: 98%;float: left;padding: 8px 0;margin-left: 2px;overflow: hidden}
#bdshare {_overflow-x: hidden;z-index: 999999;padding-bottom: 2px;font-size: 12px;float: left;text-align: left !important;zoom: 1}
#bdshare_l {width: 212px;position: absolute;top: 0;background: #fff;text-align: left}
#bdshare_l, #bdshare_m {-webkit-box-shadow: 0 0 7px #eee;-moz-box-shadow: 0 0 7px #eee;z-index: 99999}
#bdshare_l_c p a.goWebsite, #bdshare_m_c p a.goWebsite, #bdshare_pop p a.goWebsite{text-align: right;background: url(../images/pi.gif?cdnversion=20120720) no-repeat 0 center;line-height: 16px;padding-left: 12px;color: #8c8c8c}
#bdshare_l_c p a.goWebsite:hover, #bdshare_m_c p a.goWebsite:hover,#bdshare_pop p a.goWebsite:hover {color: #00a9e0}
#bdshare_l_c ul li a {background: url(../images/is.png?cdnversion=20131219) no-repeat;height: auto !important}
#bdshare_l_c ul li {width: 47%;height: 26px;float: left;margin: 2px}
#bdshare_l_c {width: 210px;float: left;border: 1px solid #e9e9e9;text-align: left}
#bdshare_m {width: 132px;float: right;position: absolute;zoom: 1;background: #fff}
#bdshare_m_c ul li a {background: url(../images/is.png?cdnversion=20131219) no-repeat;height: auto !important}
#bdshare_m_c ul li {width: 97%;_width: 90%;float: left;margin: 2px}
#bdshare_m_c {width: 130px;float: left;border: 1px solid #e9e9e9;overflow: hidden;background: #fff}
#bdshare_pop div {border: 1px solid #e9e9e9;float: left;overflow: hidden;text-align: left}
#bdshare_pop h5 b {width: 22px;height: 23px;background: url(../images/pop_c.gif?cdnversion=20120720) no-repeat 0 0;cursor: pointer;position: absolute;right: 8px;top: 4px}
#bdshare_pop h5 {width: 100%;height: 28px;color: #626262;font: 14px/28px '宋体';font-weight: 700;text-indent: .5em;float: left;margin: 0;overflow: hidden}
#bdshare_pop p a {width: auto;text-align: right;float: right;padding: 0 5px}
#bdshare_pop p {width: 100%;font: 12px '宋体';float: left;padding: 5px 0 8px;margin: 0;overflow: hidden}
#bdshare_pop ul li a {background: url(../images/is.png?cdnversion=20131219) no-repeat;color: #565656;font: 12px '宋体';display: block;width: 75%;padding: 6px 0 6px 28px;border: 1px solid #fff}
#bdshare_pop ul li a:hover {background-color: #f3f3f3;border: 1px solid #eee;-webkit-border-radius: 3px;-moz-border-radius: 3px}
#bdshare_pop ul li {width: 130px;float: left;padding: 2px;margin-left: 6px;_margin-left: 3px;height: 29px;overflow: hidden}
#bdshare_pop ul {width: 100%;height: 256px;background: #fff;float: left;padding: 8px 0;margin: 0;border-top: 1px solid #f2f1f1;border-bottom: 1px solid #f2f1f1;overflow: auto;overflow-x: hidden}
#bdshare_pop {-webkit-border-radius: 5px;-moz-border-radius: 5px}
#bdshare_pop {-webkit-box-shadow: 0 0 7px #aaa;-moz-box-shadow: 0 0 7px #aaa}
#bdshare_pop {width: 300px;border: 6px solid #8f8f8f;padding: 0;background: #f6f6f6;position: absolute;z-index: 1000000;text-align: left}
#container2 {background:url(../images/container_bg2.gif) repeat-y;margin:5px 0 0 0;}
#content .listitem,#game_name,#game_intro,#game_down,#game_remark,#game_voice,#dm_name , #dm_name2 , #naruto_name , #cartoon_List{border:1px #88D3E3 solid;border-bottom:0;word-wrap:break-word;word-break:break-all;}
#content dl,#content2 dl {margin:8px 8px 0 8px;background:#f8f8f8;border:1px #eee solid;}
#content dl:hover,#content2 dl:hover,#content dl.sfhover {background:#f8f8f8;border:1px #eee solid;margin:8px 8px 0 8px;}
#content dt a,#content2 dt a {text-decoration:underline;font-size:14px;font-weight:bold;}
#content dt,#content2 dt {padding-left:25px;background:url(../images/game_name.gif) no-repeat left 2px;height:25px;line-height:25px;overflow:hidden;}
#content2 .listitem,#game_name,#game_intro,#game_down,#game_remark,#game_voice,#dm_name , #dm_name2 , #naruto_name , #cartoon_List{border:1px #88D3E3 solid;border-bottom:0;word-wrap:break-word;word-break:break-all;}
#content2 {float:left;width:700px;}

#footer {margin:8px 0 0 0;border-top:3px #FFF3AD solid;background:#676767;color:#fff;}
#footer p {text-align:center;}
#footer a {color:#fff;text-decoration:underline;}
#footer a:hover {color:#F0F8FF;text-decoration:none;}

#game_name span a , .ltitle span a {float:right;font-size:12px;font-weight:bold;margin-right:5px;display:inline;}
#indexcartoonList {margin:0 auto;padding:0;}
#indexcartoonList li {float:left;width:126px;height:188px;text-align:center;margin:5px 5px;padding-left:3px;}
#indexcartoonList li a:hover img{border:1px solid #069;padding:3px;}
#indexcartoonList li img ,#cartoonList li img A:hover{border:2px solid #D4D4D4;}
#indexcartoonList li img ,#cartoonList li img a{border:1px solid #d0d0d0;padding:3px;}
#indexcartoonList li img ,#cartoonList li img {border:1px solid #d0d0d0;padding:3px;width:120px;height:160px;}
/* #indexcartoonList li img ,#cartoonList li img {border:2px solid #D4D4D4;} */
#indexcartoonList img,#indexcartoonList:hover{-webkit-animation-fill-mode: both;-moz-animation-fill-mode: both;-ms-animation-fill-mode: both;-o-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-duration: 0s;-moz-animation-duration: 0s;-ms-animation-duration: 0s;-o-animation-duration: 0s;animation-duration: 0s;-webkit-animation-duration: 0.7s;-moz-animation-duration: 0.7s;-ms-animation-duration: 0.7s;-o-animation-duration: 0.7s;animation-duration: 0.7s;}
#indexcartoonList img:hover{-webkit-transform-origin: top center;-moz-transform-origin: top center;-o-transform-origin: top center;transform-origin: top center;   -webkit-animation-name: swing;-moz-animation-name: swing;-o-animation-name: swing;animation-name: swing;}
#kof_desk h2,#naruto_desk h2{padding: 0;text-align: center;}
#light{background:#000; position:absolute; width:100%; height:100%; z-index:100; top:0; left:0; display:none;}
#login p span {float:right;margin-right:5px;display:inline;}
#login p {margin:2px;padding-left:25px;border:1px #D3E9ED solid;/*background:#fff url('../images/login.gif') no-repeat 5px 1px;*/}
#login p{margin:2px;padding-left:20px;height:30px;line-height:30px;}#login p a{color:#039;}
#login {background:#E8F3F9;border:1px #88D3E3 solid;margin:3px 0 0 0;}
#login {background:#FFFFEC;border:1px #88D3E3 solid;margin:3px 0 0 0;height:33px;line-height:33px;color:#069}
#narutoList img:hover,#narutoList a:hover img{-webkit-transform-origin: top center;-moz-transform-origin: topcenter;-o-transform-origin: top center;transform-origin: top center;   -webkit-animation-name:swing;-moz-animation-name: swing;-o-animation-name: swing;animation-name: swing;padding:3px;border:1px solid #069;}
#narutoList img{-webkit-animation-fill-mode: both;-moz-animation-fill-mode:both;-ms-animation-fill-mode: both;-o-animation-fill-mode: both;animation-fill-mode:both;-webkit-animation-duration: 0s;-moz-animation-duration: 0s;-ms-animation-duration: 0s;-o-animation-duration:0s;animation-duration: 0s;-webkit-animation-duration: 0.7s;-moz-animation-duration: 0.7s;-ms-animation-duration:0.7s;-o-animation-duration: 0.7s;animation-duration: 0.7s;display:block;margin:5px 0 7px 5px;padding:3px;border:1px solid #d0d0d0;}
#narutoList li a:hover img {display:block;width:128px;height:96px;padding:1px;margin:2px 0 3px 0; *padding:3px; *border:1px solid #069; -webkit-border-radius:6px;/* Webkit browsers */border-radius:6px;}
#narutoList li img {display:block;width:128px;height:96px;padding:1px;margin:2px 0 3px 0; *padding:3px; *border:1px solid #eee; -webkit-border-radius:6px;/* Webkit browsers */border-radius:6px;}
#narutoList li {float:left;width:138px;height:140px;line-height:15px;vertical-align:middle;text-align:center;margin:3px 12px;overflow:hidden;}
/* #narutoList li {float:left;width:160px;height:158px;line-height:15px;vertical-align:middle;text-align:center;margin:3px 0 0 17px;overflow:hidden;} */
#narutoListall {margin:18px 0 0 10px;}
#naruto_desk,.naruto_desk{width: 980px;border: 1px #88D3E3 solid; float: left;clear: both; margin: 8px auto 8px auto;}
/*
#narutologo h1{ display:none;}
#narutologo img{ float:left; margin-left:8px;}
#narutologo span{ float:left; margin:60px 0 0 60px;}
#narutologo{ width:206px; height:78px; background:url(/img/logo.gif) no-repeat bottom; float:left}
#narutologo{ width:206px; height:78px; background:url(http://www.narutom.com/img/logo.gif) no-repeat bottom; float:left}
#narutologo{ width:206px; height:78px; background:url(http://www.narutom.com/img/logo.gif) no-repeat bottom;float:left}
*/

#nav h1 {margin:0;padding:0;font-size:12px;font-weight:normal;display:compact;}
#nav p label {float:left;}
#nav p span a {color:#0000ff;}
#nav p span {float:right;padding-right:10px;}
#nav p {margin:2px;padding-left:10px;border:1px #D3E9ED solid;background:#fff;height:25px;line-height:25px;overflow:hidden;}
#navpre label{float:left;}
#navpre span { float:right;}
#navpre{width:98%;margin:auto;color:#006600;font-weight:bold;}
/* #friendlink {border:1px #88D3E3 solid;background:#fff;width:898px;padding-bottom:1px;} */
/* #friendlink {border:1px #88D3E3 solid;background:#fff;width:978px;padding-bottom:1px;} */
/* #num_index,#friendlink {float:left; width:898px;clear:both;margin:8px 0 0 0;border:1px #E8CA78 solid;background:#f7f7f7;text-align:left;} */
/* 
#num_index,#friendlink {width:978px;clear:both;margin:8px 0 0 0; height:30px;line-height:30px; border:1px #E8CA78 solid;background:#f7f7f7;text-align:left;}
#num_index dd a {margin:0 4px;padding:0 3px;color:#7E5D05;}
#num_index dd a:hover {color:#0A4F72;text-decoration:none;border:1px #0373AB solid;background:url(../images/num_index_btnbghover.png) repeat-x;}
#num_index dl {padding:5px 0;float:left;font-size:14px;font-weight:bold;color:#7E5D05;}
#num_index dt,#num_index dd a {margin:0 10px;display:inline;background:url(../images/num_index_btnbg.png) repeat-x;height:20px;line-height:20px;border:1px #C59105 solid;float:left;padding:0 5px;}
#num_index span{float:right;padding-right:6px;}
#friendlink img {margin:1px; border:1px solid #333;}
#friendlink li a {display:block;color: #666;width:100%;height:100%;}
#friendlink li a:hover {color: #06c;text-decoration:none;}
#friendlink li {width: 99px;float: left;text-align: center;height:20px;overflow:hidden;}
#friendlink ul {padding-left:1px;display:inline;margin:8px;}
*/
/* start : below is by myself*/
#friendlink {width:980px; height:50px; clear:both;margin:8px 0 0 0;line-height:50px; border:1px #E8CA78 solid;background:#f7f7f7;text-align:left;}
#friendlink ul li {display: inline-block; margin: 12px 8px;}
/* end */

#recommend_down .ltitle span {margin-left:10px;border:1px solid #555;background:#fff;height:18px;font-size:12px;font-weight:normal;padding:0 5px;cursor:pointer;}
/* #recommend_down .ltitle span.curPos {background:#888;border:1px solid #333;font-weight:bold;color:#fff;} */
/*
#search input {width:190px;height:20px;line-height:20px;border:1px #FAB666 solid;background:#F7F5F5;color:#707070;text-indent:0.5em;vertical-align:bottom;font-size:12px;filter:alpha(opacity=50); opacity:0.5;}
#search input.btn {width:55px;height:25px;padding:0 5px;border:0;background:none;}
#search input.onfocus {border:1px #C6DF9C solid;background:#fff;}
#search {float:right;width:265px;margin-top:24px;}
*/
#searchBox li {float:left;}
#searchBox li {list-style:none;float:left;color:#419639;}
#searchBox {text-align:left;float:left;width:894px;clear:both;margin:5px 0 0 0;padding:2px;border:1px #E8CA78 solid;background:#f7f7f7;}
#search_result dd i.game_date {font-size:10px;font-style:normal;}
#search_result dl {margin:15px 0;}
#search_result dl:hover,#search_result dl.sfhover {background:#f8f8f8;border:1px #eee solid;border-width:1px 0;margin:14px 0;}
#search_result dt {font-size:14px;font-weight:bold;}
#sidebar h2 , #sidebar .ltitle{ height:25px; line-height: 25px; border-top:1px #E8CA78 solid;margin:0 1px 1px 1px;background: #FEF9EB;color: #8F5400;border-bottom: 1px #F9F0C0 solid;}
#sidebar ul {padding:5px;}
#sidebar {float:right;width:270px;}
#topbanner{height:68px;width:468px;margin-top:10px;float:right;text-align:left;margin-right:10px;}
#topbanner{height:68px;width:600px;margin-top:10px;float:right;text-align:left;margin-right:10px;}
#vright{float:right;width:131px;height:440px;padding:0;}
#witer{color:green;font-family:"微软雅黑"}

.PlayBody .play .pl .player{width: 720px;text-align:center;}
.PlayBody .play .pl .top .Err{float: left;margin-left: 10px;color: #004FA5;}
.PlayBody .play .pl .top a {FONT-WEIGHT: bold;}
.PlayBody .play .pl .top h1 {font-size:18px;font-family:"微软雅黑","宋体";font-weight:bold;color:#fff;height:31px;}
.PlayBody .play .pl .top span {float: right;padding-right: 6px;}
.PlayBody .play .pl .top {LINE-HEIGHT: 26px;WIDTH: 100%;HEIGHT: 31px;FONT-SIZE: 14px;text-align:center;overflow:hidden;}
.PlayBody .play .pl {width: 720px;height:511px;background: #000;text-align:center;}
.PlayBody .play .pr {width: 250px;}
.PlayBody .play {width: 980px;height:513px;overflow: hidden;clear: both;zoom: 1;margin: 0 auto;z-index:10001;position: relative;}
.PlayBody{padding: 5px 0;overflow: hidden;background: #333;margin-bottom:5px;}
.bds_baidu {background-position: 0 -1950px !important}
.bds_copy {background-position: 0 -1393px !important}
.bds_douban {background-position: 0 -395px !important}
.bds_more {background-image: url(../images/is.png?cdnversion=20131219) !important;background-position: 0 4px !important}
.bds_qzone {background-position: 0 -75px !important}
.bds_renren {background-position: 0 -195px !important}
.bds_tools a.shareCount {width: 37px;height: 16px;background-position: 0 -30px !important;margin-top: 5px;overflow: hidden;font-size: 12px;line-height: 16px}
.bds_tools a.shareCount:hover {color: #454545 !important;background-position: -42px -30px !important;opacity: 1 !important;filter: alpha(opacity = 100) !important}
.bds_tools_24 a.shareCount {margin-top: 5px}
.bds_tools_24 span.bds_more {background: url(../images/is_24.png?cdnversion=20131219) no-repeat 0 5px!important;width: 29px;height: 24px;text-indent: -100em;padding-left: 0}
.bds_tools_32 a.shareCount {width: 43px;height: 32px;background-position: 0 -60px !important;margin-top: 5px;overflow: hidden;font-size: 14px;line-height: 32px;text-indent: 0 !important}
.bds_tools_32 a.shareCount:hover {color: #454545 !important;background-position: -48px -60px !important;background-position: -48px -60px;opacity: 1 !important;filter: alpha(opacity = 100) !important}
.bds_tools_32 span.bds_more {background: url(../images/is_32.png?cdnversion=20131219) no-repeat 0 5px!important;width: 37px;height: 32px;text-indent: -100em;padding-left: 0}
.bds_tqf {background-position: 0 -315px !important}
.bds_tqq {background-position: 0 -235px !important}
.bdshare_b a.shareCount, .bds_tools a.shareCount, .bds_tools_32 a.shareCount,.bds_tools_24 a.shareCount {float: left;background: url(../images/sc.png?cdnversion=20120720) no-repeat!important;margin: 0;padding: 0;text-align: center;padding-left: 5px;color: #454545;font-family: '宋体' !important}
.bdshare_b a.shareCount, .bds_tools_24 a.shareCount {width: 39px;height: 24px;background-position: 0 0;font-size: 12px;line-height: 24px;margin-left: 3px}
.bdshare_b a.shareCount:hover, .bds_tools_24 a.shareCount:hover {color: #454545 !important;background-position: -44px 0 !important;opacity: 1 !important;filter: alpha(opacity = 100) !important}
.blank,.rblank {height:8px;overflow:hidden;background:#fff;width:100%;clear:both;/* border-top:1px #E8CA78 solid; */}
.clearfix {display:block;}
.clearfix {display:inline-block;}
.clearfix:after {content:"火影忍者网 - www.narutom.com";display:block;height:0;clear:both;visibility:hidden;}
.counts{display:;}
.counts{display:none;}
.dmnew a strong{color:#ff3c00;}
.dmnew a:hover{color:#4e8000; text-decoration:none;}
.dmnew a{float:left; color:green; margin-left:18px; border-bottom:1px dashed #e5e5e5; height:28px; white-space:nowrap;}
.dmnew{height:150px; line-height:30px; overflow:hidden;}
.h31,.h41{padding:0 10px; color:#426f00; font-size:16px; font-family: "Microsoft Yahei" simhei; text-align:left;}
.h31{height:40px; line-height:40px;}
.ita2{width:900px;height:90px;text-align:left;margin-top:6px;margin-bottom:2px;display:table;clear:both;over-flow:hidden;}
.ita2{width:900px;text-align:left;margin-top:6px;margin-bottom:2px;display:table;clear:both;over-flow:hidden;padding-top:10px;}
.itabg{width:980px;height:90px;border:1px solid #d0d0d0;clear: both;display:inline;overflow:hidden;}
.ita{width:900px;text-align:left;margin-top:10px;margin-bottom:5px;}
.ita{width:900px;text-align:left;margin-top:5px;margin-bottom:1px;}
.line {height:1px;overflow:hidden;background:url('../images/container_border.gif')}
.line2 {height:1px;overflow:hidden;background:url('../images/container_border2.gif')}
.lines {margin:auto;width:980px;height:1px;margin-top:1px;border-bottom:1px solid dotted;clear: both;}

.listitemall h1 {	height: 25px;line-height: 25px;font-size: 14px;padding-left: 8px;font-weight:bold;background: #E8FAFE;color: #007498;text-align: left;margin: 1px;border-bottom: 1px #D3E9ED solid;}
.listitemall ul li a:hover{ background:#3A76CE; padding:0; color:#FFF;}
.listitemall ul li a:visited {color:#999;}
.listitemall ul li{ float:left; width:205px; padding:0  4px;line-height:30px; height:30px; border-bottom:#E8E8E0 1px dashed;overflow:hidden; }
.listitemall ul{ list-style:none;width:660px;}
.listitemall {border:1px #88D3E3 solid;border-bottom:0;word-wrap:break-word;word-break:break-all; }
.ltitle span {margin-left:10px;border:1px solid #555;background:#fff;height:10px;font-size:12px;font-weight:normal;padding:0 5px;cursor:pointer;}
/* .ltitle span.curPos {background:#888;border:1px solid #333;font-weight:bold;color:#fff;} */
.nmain {width:1000px;margin:0 auto;position: relative;z-index:100;background:#fff;}

/*
.pagenav select {font-size:12px;position:relative;top:2px;}
.pagenav span {float:right;}
*/
.pagenav {border-top:1px #88D3E3 solid;height:25px;line-height:25px;background:#f8f8f8;color:#007498;text-align:left;}
.pagenav2 {font-size:12px;height:25px;line-height:25px;color:#007498;text-align:left;padding:0 5px;margin:5px 2px;text-align:left;}
.pos a.lighter{background:url(http://www.narutom.com/img/light.png) -5px -7px no-repeat; position:relative;color:#ff0000;z-index:10001;padding:4px 8px; padding-left:26px;  width:30px;}
.r250{width:250px;height:250px;overflow:hidden;}
.rblank {/* border-top:1px #88D3E3 solid; */}
.setwid,#setwid{font-size:14px;color:ff0000;}
.softblist li span,.softolist li span {float:right;}
.softblist li,.softolist li {float:left;height:22px;line-height:22px;overflow:hidden;white-space:normal;background:url(img/bg_main.png) no-repeat -365px -58px;padding-left:13px;_display:inline}
.softblist li,.softolist li, {height:22px;line-height:22px;overflow:hidden;white-space:normal;padding-left:15px;background:url('../images/li_bg3.gif') no-repeat left 7px;}
.softblist,.softolist , .narutolist2 {list-style:none;line-height:22px;}
.softolist li a:hover,.softolist li a:active , .narutolist li a:hover, .narutolist li a:active{color:#f00;text-decoration:underline;}
.softolist li a:link,.softolist li a:visited, .narutolist li a:link, .narutolist li a:visited{color:#8F5400;}
.softolist li {background:url('../images/li_bg4.gif') no-repeat left 7px;padding-left:12px;overflow:hidden;}
.softolist li {width:175px;height:22px;line-height:22px;overflow:hidden;}
.wrap {width:980px;margin:0 auto;}
.wrap2 {width:980px;margin:0 auto;z-index:100;}
.wrap h2 ,#game_name h1 , .listitem h1 , #dm_name h1 , #naruto_name h1 ,#cartoon_List h1 ,#dm_name2 h1 , .wrap .ltitle{height: 25px;line-height: 25px;font-size: 14px;padding-left: 8px;font-weight:bold;background: #E8FAFE;color: #007498;text-align: left;margin: 1px; background: url("../img/jian/menubg2.gif") repeat-x;}
/* .wrap2 h2 ,#game_name h1 , .listitem h1 , #dm_name h1 , #naruto_name h1 ,#cartoon_List h1 ,#dm_name2 h1 , .wrap2 .ltitle{height: 25px;line-height: 25px;font-size: 14px;padding-left: 8px;font-weight:bold;background: #E8FAFE;color: #007498;text-align: left;margin: 1px;border-bottom: 1px #D3E9ED solid;} */
#nav {background:#E8F3F9;border:1px #88D3E3 solid;margin:2px 0 0 0;color:#007498;}
#search_result label,#search_result a label {color:#f00;font-weight:bold;}
/*#dm_name img , #dm_name2 img {border:1px solid #888;padding:2px;display:block;}*/#navpre{width:98%;margin:auto;color:#006600;font-weight:bold;}

@CHARSET "UTF-8";
#bdshare ul, #bdshare_s ul, #bdshare ul li, #bdshare_s ul li,#bdshare_l_c ul li, #bdshare_m_c ul li, #bdshare_pop ul, #bdshare_pop ul li{list-style: none;margin: 0;padding: 0}
a.more,#search_result dd i.game_date {color:green;}
span.bds_more {background: url(../images/is.png?cdnversion=20131219) no-repeat 0 5px!important}
span.bds_more, .bds_tools a {display: block;font-family: '宋体', Arial;height: 16px;float: left;cursor: pointer;padding-top: 6px;padding-bottom: 3px;padding-left: 22px}

#hot_down h2, .index_downrank h2 , #hot_video h2 , .index_downrank .ltitle , #hot_down .ltitle{background: #FEF9EB;color: #8F5400;border-bottom: 1px #F9F0C0 solid;}

.index_downrank .ltitle .more {float: right; margin: 5px;}
.index_downrank .ltitle span ,.index_gamelist .ltitle span{height:18px;font-size:12px;font-weight:normal;padding:0 5px;cursor:pointer;float:right;}
/* .index_downrank .ltitle span.curPos ,.index_gamelist .ltitle span.curPos {background:#888;border:1px solid #333;font-weight:bold;color:#fff;} */
.index_downrank ul {margin: 5px 10px;}
.index_downrank {float: left;border: 1px #E8CA78 solid;width: 227px; margin: 8px;}
#last_updated a.type, .index_downrank a.type {color: #999;}
#last_updated a.type:hover, .index_downrank a.type:hover { /* color: #f60; */text-decoration: underline;}
#list_rank .softolist li {width:175px;height:22px;line-height:22px;overflow:hidden;}
